<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Эгзамен.Properties.Settings._44п_кляпнев_эгзConnectionString"
            connectionString="Data Source=ngknn.ru;Initial Catalog=&quot;44п кляпнев эгз&quot;;Persist Security Info=True;User ID=44п;Password=H12TjtrV"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>